.trace{
    color:#DEAD00 !important;
    background-color: #00DEAD !important;
    overflow: auto;
}

nav > #logo > img{
    float: left;
}

/* nav menu bar break */

@media all and (max-width: 768px){
    #cssmenu {
        display: none !important;
    }
}


/*****************
responsive navbar
*****************/

#menu-responsive{
    margin-top: 60px;
}

/*#menu-responsive,
#menu-responsive *{
    list-style: none;
    list-style-type: none;
    margin-left: 0;

}

#menu-responsive li{
    display: block;
    border: solid 1px black;
}

#menu-responsive  ul  li{
    overflow: hidden;
}

.rnav-lvl1 > ul,
.rnav-lvl1 > li{
    display: inline-block !important;
    color: #00dead !important;

}

*/

/* this is for finding out which resolution is active */
.which
{
    position: fixed  !important;
    bottom: 20px !important;
    right: 20px !important;
    padding: 10px;
    background-color: hsla(666, 100%, 50%, 0.8);
    z-index: 99989789;
}

#homepage-pictures{
    height: 300px;
}

main{
    z-index: 44;
}

footer{
    position: absolute;
    width: 100%;
    bottom: -200px;
    height: 200px;
    background-color: hsla(30, 100%, 70%, 1);
    z-index: 0;
}
