
/* xs */
@media all and (max-width: 768px){
.nav-stack-on-break > li {
  float: none;
}
.nav-stack-on-break > li + li {
  margin-top: 2px;
  margin-left: 0;
}

}

/* sm */
@media all and (min-width: 768px){
/*	.nav-small-device{
	    display: none !important;
	}
*/
}

/* md */
@media all and (max-width: 1200px){


}

/* lg */
@media all and (min-width: 1201px){



}



