
/* xs */
@media all and (max-width: 768px){
    #cssmenu {
        display: none !important;
    }
	.nav-small-device{
	    display: block !important;
	}

}

/* sm */
@media all and (min-width: 768px){
	.nav-small-device{
	    display: none !important;
	}

}

/* md */
@media all and (max-width: 1200px){


}

/* lg */
@media all and (min-width: 1201px){



}



